{% extends 'base.html.twig' %}

{% block title %}Reporting - {{ parent() }}{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"
            integrity="sha256-+q+dGCSrVbejd3MDuzJHKsk2eXd4sF5XYEMfPZsOnYE=" crossorigin="anonymous"></script>

    <script>
        {% for account in accounts %}
        var ctx{{ account.id }} = document.getElementById("chart-{{ account.id }}");
        var chart{{ account.id }} = new Chart(ctx{{ account.id }}, {
            type: 'line',
            data: {
                labels: ['{{ timeline | join("', '") | raw }}'],
                datasets: [
                    {% for category in operations[account.id] %}
                    {
                        label: '{{ category.metadata.name }}',
                        fill: false,
                        spanGaps: true,
                        borderColor: '{{ category.metadata.color }}',
                        data: [
                            {% for date in timeline %}
                            {% if category.data[date] is defined %}
                            {{ category.data[date].amount }},
                            {% else %}
                            null,
                            {% endif %}
                            {% endfor %}
                        ]
                    },
                    {% endfor %}
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        {% endfor %}

        var showDataset = function (chart, index) {
            var meta = chart.getDatasetMeta(index);

            meta.hidden = false;

            chart.update();
        };
        var hideDataset = function (chart, index) {
            var meta = chart.getDatasetMeta(index);

            meta.hidden = true;

            chart.update();
        };
        var showAllDataset = function (chart) {
            var length = chart.data.datasets.length;

            for (var i = 0; i < length; i++) {
                showDataset(chart, i);
            }
        };
        var hideAllDataset = function (chart) {
            var length = chart.data.datasets.length;

            for (var i = 0; i < length; i++) {
                hideDataset(chart, i);
            }
        };
    </script>
{% endblock %}

{% block body %}
    <ul class="tabs" data-tabs id="tabs">
        {% for account in accounts %}
            <li class="tabs-title {{ loop.first ? 'is-active' }}"><a
                        href="#panel{{ account.id }}">{{ account.name }}</a></li>
        {% endfor %}

        <li class="tabs-title"><a href="#panel-monitoring">Suivi</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="tabs">
        {% for account in accounts %}
            <div class="tabs-panel" id="panel{{ account.id }}">
                <h2>{{ account.name }}
                    <small>{{ account.balance }}€</small>
                </h2>

                <button onclick="hideAllDataset(chart{{ account.id }})" class="button small">Hide all</button>
                <button onclick="showAllDataset(chart{{ account.id }})" class="button small">Show all</button>
                <canvas id="chart-{{ account.id }}" height="120"></canvas>
            </div>
        {% endfor %}

        <div class="tabs-panel" id="panel-monitoring">
            <h2>Suivi</h2>

            <dl>
                {% for monitoring in monitorings %}
                    {% set dateDiff = ("now"|date('U') - monitoring.beginningDate|date('U')) %}
                    {% set monthDiff = ((dateDiff|date('Y'))-1970)*12 + dateDiff|date('m') %}

                    <dt>{{ monitoring.name }}</dt>
                    <dd>{{ (monitoring.amount / monthDiff) | number_format(2, ',', ' ') }}€/mois</dd>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endblock %}
