{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script>
        {% for account in accounts %}
        var ctx{{ account.id }} = document.getElementById("chart-{{ account.id }}");
        var chart{{ account.id }} = new Chart(ctx{{ account.id }}, {
            type: 'line',
            data: {
                labels: ['{{ timeline | join("', '") | raw }}'],
                datasets: [
                    {% for category in operations[account.id] %}
                    {
                        label: '{{ category.metadata.name }}',
                        fill: false,
                        spanGaps: true,
                        borderColor: '{{ category.metadata.color }}',
                        data: [
                            {% for date in timeline %}
                            {% if category.data[date] is defined %}
                            {{ category.data[date].amount }},
                            {% else %}
                            null,
                            {% endif %}
                            {% endfor %}
                        ]
                    },
                    {% endfor %}
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        {% endfor %}

        var showDataset = function (chart, index) {
            var meta = chart.getDatasetMeta(index);

            meta.hidden = false;

            chart.update();
        };
        var hideDataset = function (chart, index) {
            var meta = chart.getDatasetMeta(index);

            meta.hidden = true;

            chart.update();
        };
        var showAllDataset = function (chart) {
            var length = chart.data.datasets.length;

            for (var i = 0; i < length; i++) {
                showDataset(chart, i);
            }
        };
        var hideAllDataset = function (chart) {
            var length = chart.data.datasets.length;

            for (var i = 0; i < length; i++) {
                hideDataset(chart, i);
            }
        };
    </script>
{% endblock %}

{% block body %}
    {% for account in accounts %}
        <h2>{{ account.name }} - {{ account.balance }}</h2>

        <button onclick="hideAllDataset(chart{{ account.id }})">Hide all</button>
        <button onclick="showAllDataset(chart{{ account.id }})">Show all</button>
        <canvas id="chart-{{ account.id }}"></canvas>
    {% endfor %}
{% endblock %}
